/*==============================================================*/
/* Purpose:        Css For html style                       	*/
/* Author:         Foolin 					                    */
/* E-mail:         Foolin@126.com				                */
/* Created on:     2009-6-1 15:44:21                            */
/*==============================================================*/

body{
	margin:0px;
	background:#FFF url(../images/body_bg.jpg) repeat-x;
}

a{
	color:#000;
	text-decoration:none;
}

a:hover{
	color:#F00;
	padding:1px;
	text-decoration:underline;
}

.wraper {
	margin:0 auto;
	font-size: 12px;
	background:#E6F2FF;
	width:960px;
}

.header{
	height:120px;
	background:#A2D0FF url(../images/top.jpg);
}

.menu{

}

.menu{
	height:36px;
	background:#68B4FF url(../images/menu_bg.jpg);
}
.menu ul{
	list-style:none;
	padding:0px;
	margin:0px 5px;
}
.menu ul li {
	float:left;
	font-size:14px;
	font-weight:bold;
}

.menu ul li a{
	line-height:36px;
	padding-right:10px;
	padding-left:10px;
	display:block;
	color:#ffffff;
	text-decoration:none;
	letter-spacing:2px;
	padding-top:1px;
	margin-right:0px;
	border-right:1px solid #cbe8bb;
}
.menu ul li a:hover, #menu  ul li a.current{
	padding-right:10px;
	padding-left:10px;
	display:block;
	text-decoration:none;
	background:url(../images/menu_on_bg.jpg);
	color:#ffffff;
	line-height:34px;
	overflow:hidden;
}

.menu .on,.menu .on a{
	background:#E1F0FF;
	color:#68B4FF;
}

.logo{
	color:#FFF;
	font-size:24px;
	font-weight:bold;
}

.main{
	background:#E1F0FF;
	
}

.footer{
	background:#C1E0FF;
	text-align:center;
}
.bottomlink{
	background:#A6D2FF;
	border-bottom:#75BAFF 1px solid;
	line-height:25px;
}
.copyright{
	padding:10px;
	line-height:22px;
}

/*当前位置*/
.location {
	clear:both;
	line-height:25px;
	padding-left:10px;
	padding-right:10px;
	font-size:14px;
	color:#666;
}

/*栏目Box*/
.box{
	margin:2px 2px 5px 2px;
	border:2px solid #ACD6FF;
	padding:1px;
}

.box .title{
	height:25px;
	background:#ACD6FF url(../images/box_title_bg.jpg);
	padding:0px 5px;
	line-height:25px;
	color:#09F;
	font-size:14px;
	font-weight:bold;
}

.box .title .titletxt{
	float:left;
	padding-left:10px;
}

.box .title .more{
	float:right;
	font-size:12px;
	font-weight:normal;
}

.box .content{
	margin:0px;
	padding:2px;
	background:#E1F0FF;
	line-height:22px;
}
.box .content ul{
	margin:0px;
	padding:0px 5px;
}
.box .content li{
	margin:0px;
	padding:0px;
	border-bottom:#CCC 1px dashed;
	list-style:url(../images/dot.jpg) inside;
}

/*新闻列表时间样式*/
.time{ color:#999;}

.img {
	margin:3px;
	background:#F2FBF2;
	padding:5px;
	border:#999 1px solid;
}

.clear{ clear:both;}