<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="Admin_MasterPage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>广州大学档案馆</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/artlist.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form id="form2" runat="server">
<div id="wrapper">
	<!--header start--->
    <div id="header">
    </div>
    <!--header end--->
    
    <!--menu start--->
    <div id="menu">
            <div class="pannel">
                    <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="list.html">本馆简介</a></li>
                    <li><a href="list.html">服务指南</a></li>
                    <li><a href="list.html">法律法规</a></li>
                    <li><a href="list.html">学术交流</a></li>
                    <li><a href="list.html">联系方式</a></li>
                    <li><a href="list.html">关于我们</a></li>
                    <li><a href="list.html">网站地图</a></li>
                    <li><a href="http://www.gzhu.edu.cn" target="_blank">广大主页</a></li>
                    </ul>
                    <div class="clear"></div>
            </div>
    </div>
    <!--menu end--->
    
    <!--main start--->
    <div id="main">
    	<div class="container">
        
        		<!--notice--->
        		<div class="location">
                	你现在的位置：<a href="index.html">首页</a> <asp:contentplaceholder id="Location" runat="server">
        </asp:contentplaceholder>
                </div>
                
				<div class="column_side">
                        <asp:contentplaceholder id="ColumnSide" runat="server">
        </asp:contentplaceholder>
                        <!--栏目-->
                        <div class="box">
                          <div class="title"><span class="titletxt">热门新闻</span><span class="more"><a href="list.html">更多>></a></span></div>
                            <div class="content">
                                <ul>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                <li><a href="article.html" title="广州大学档案馆正在建设中">广州大学档案馆正在建设中</a></li>
                                </ul>
                            </div>
                        </div>
                        
                </div>
                <div class="column_main">
                          <asp:contentplaceholder id="Container" runat="server">
        </asp:contentplaceholder>
                		<div class="list">
                            <div class="list_title">最新动态 </div>
                            	<table>
                                	<tr>
                                    	<td class="article"><a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td>
                                        <td class="time">2009-5-20</td>
                                    </tr>
                                	<tr>
                                    	<td class="article"><a href="article.html" title="这是一个网站的演示">这是一个网站的演示</a></td>
                                       <td class="time">2009-5-20</td>
                                    </tr>
                                </table>
                           <div class="pagebar">[1] [2] ... [3]</div>
                        </div>
               </div>
               <div class="clear"></div>
        </div>
    </div>
    <!--main end--->
    
    <!--footer start--->
    <div id="footer">
            <div class="pannel">
                    <!--底部连接：bottomlink-->
                    <div id="bottomlink">
                        <a href="article.html">设为首页</a> |
                        <a href="article.html">关于我们</a> |
                        <a href="article.html">网站导航</a> |
                        <a href="article.html">法律声明</a> |
                        <a href="article.html">联系我们</a> |
                        <a href="article.html">后台管理</a>
                    </div>
                 
                    <!--底部版权信息：copyright-->
                    <div id="copyright">
                            广州大学档案馆<br />
                            联系地址：广州市外环西路230号(510006) <br />
                            联系电话：020—838228×× 传真号码：020—838032×× 电子邮箱：master@website.com <br />
                    </div>
            </div>
    </div>
    <!--footer end--->
</div>
</form>
</body>
</html>
<!--- 制作：刘付灵  E-mail:Foolin@126.com --->
