<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DbConnectionString" value="server=localhost\SQL2005;database= Newspaper;uid=sa;pwd=123456"></add>
		<!--<add key="DbConnectionString" value="server=gudieaofei;database=anyweb;uid=sa;pwd=sa"></add>-->
    <add key="FCKeditor:BasePath" value="/paper/FCKeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/paper/UploadFiles/" />
	</appSettings>
	<connectionStrings>
  <add name="OnlineNewsPaperConnectionString1" connectionString="Data Source=FOOLIN-1BFADC8A\SQL2005;Initial Catalog=OnlineNewsPaper;Persist Security Info=True;User ID=gzhu;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"
   providerName="System.Data.SqlClient" />
   
 </connectionStrings>
	<system.web>


		<compilation debug="true">
			<assemblies>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>


		<authentication mode="Windows"/>


	</system.web>
</configuration>

